# Build outputs
**/bin/
**/obj/

# User secrets and local settings
**/appsettings.Development.json

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

#Environment variables
.env

# Terraform
infra/terraform/.terraform/
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
infra/terraform/terraform.tfvars